.footer{
    background-color: black;
    width: 100%;
    height: 38pc;
   }
   .link{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 7vmax;
    left: 8vmax;
    width: 30vmax;
   }
   .link li{
    list-style-type: none;
    padding-bottom: 1pc;
    padding-left:1pc;
   }
   .link li a{
    color: white;
    text-decoration: none;
   }

.logo{
    position: relative;
    top: 20vmax;
}


    
